 *{
    margin: 0;
    padding: 0;

}
body{
    background-color: #12475f;
    font-family: monospace;
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 20px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    background-color: white;
    animation-name: animate;
    animation-duration: 4s;
    position: relative;
     animation-iteration-count: 2;
    /*animation-direction: alternate; */
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
 
 @keyframes animate{
    0%{
        background-color: white;
        left: 0;
        top: 0;
        border-radius: 0;
        
    }
    25%{
        background-color: red;
        left: 300px;
        top: 0;
        border-radius: 50% 0 0 0;
    }
    50%{
        background-color: blue;
        left: 300px;
        top: 300px;
        border-radius: 50% 50% 0 0;
    }
    75%{
        background-color: green;
        left: 0;
        top: 300px;
        border-radius: 50% 50% 50% 0;
    }
    100%{
        background-color: white;
        left: 0;
        top: 0;
        border-radius: 50% 50% 50% 50%;
    }
} 

/* transitions */

.box1{
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    /* transition-property: background, border-radius, transform ; */
    transition-property: all;
    transition-duration: 1s;
    /* transition-delay: 1s; */
    transition-timing-function: ease-in;
}
.box1:hover{
    background-color: red;
    border-radius: 50% 50% 50% 0;
    transform: rotateX(360deg);
}

/*landing page*/

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}
#showcase{
    height: 300px;
}
#showcase h1{
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes heading{
    0% {
        top: -50px;
    }
    100% {
        top: 200px;
    }
}

.container{
    animation-name: text;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes text{
    0% {
        left: -1000px;
    }
    100%{
        left: 0;
    }
}

a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 2rem;
    border: #fff 1px solid;
    margin-top: 40px;
    opacity: 0;
    animation: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes btn{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 

.transform{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin-top: 250px;
    transform: rotate(45deg);
    transform: skewX(45deg);
    transform: translateX(-50px);
    /*trandform:martix([scaleX][skewX][skewY][scaleY][translateX][translateY]);*/
}